.cards {
    &__items {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 70px;
    }

    &__more {
        border: 1px solid rgba(0, 0, 0, 0.34);
        background: #3D7298;
        box-shadow: 0px 4px 47px 0px rgba(0, 0, 0, 0.25);
        padding: 10px 0;
        display: block;
        width: 27.083333%;
        margin: 0 auto;
        text-align: center;
        color: #fff;
        margin-top: 100px;
        text-decoration: none;
    }

    &__loading {
        text-align: center;

        svg {
            width: 80px;
            height: 80px;

            circle {
                stroke: #3D7298;
            }
        }
    }
}


@media (min-width:1536px) {
    .cards {
        &__items {
            gap: 40px;
        }

        &__more {
            padding: 20px 0;
        }
    }
}

@media (max-width:768px) {
    .cards {
        &__items {
            gap: 20px;
        }

        &__more {
            margin-top: 50px;
            width: 40%;
        }
    }
}


@media (max-width:425px) {
    .cards {

        &__more {
            margin-top: 50px;
            width: 50%;
        }
    }
}